#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.roster-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  margin: 1rem auto;
  max-width: 900px;
  width: 100%;
}

.roster-section {
  flex: 1;
  padding: 1rem;
}

.roster-section ul{
  list-style: none;
  padding:0;
  margin: 0;
}

.roster-section li {
  font-size: 1.1rem;
  padding: 0.4rem 0;
}